*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}
.main-header .container{
  display: flex;
  padding: 0px;
  max-width: 1000px;
  align-items: center;
  gap:10px;
  z-index: 20;
  margin:auto;
}
.main-header .logo{
  width:150px;
  max-width: 150px;
}
.main-header .logo img{
  width:150px;
  vertical-align: middle;
}
.main-header .main-nav a{
  text-decoration: none;
  color:white;
  padding:5px;
}
nav a{
  font-size:16px;
  font-weight: 800;
  margin:10px;
}
nav a:hover{
  border-bottom: 3px solid black;
}

.wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  margin-top:30px;
}
body{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
h2{
    font-weight: 900;
}
.content p{
    padding:5px;
    font-family: 'Noto Sans TC', sans-serif;
}
.txt p{
  padding:5px;
    font-family: 'Noto Sans TC', sans-serif;
}
.item1{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom:70px;
}
.item1 .ball img{
    width:550px;
    max-width: 550px;
    vertical-align: middle;
}
.item1 .pic1 img{
   width:550px;
   max-width: 550px;
   vertical-align: middle;
}
.item1 .txt{
    width:600px;
    max-width: 600px;
    padding:50px 30px;
    box-sizing:border-box;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
}
.item1 >:first-child{
    margin-right: -100px; 
}
.item1:nth-child(1) .txt{
    background-color: rgb(182, 168, 160,.8)
}
.item1:nth-child(2) .txt{
    background-color: rgba(254, 201, 121, .8);
}
 
.container5 {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

/*Line*/
.container5::before {
  content: '';
  position: absolute;
  left: 580px;
  height: 100%;
  width: 3px;
  background-color: #000;
}

.section-container:first-child {
  padding-bottom: 110px;
}

.section-container {
  position: relative;
  clear: both;
  margin-bottom: 100px;
  padding-bottom: 70px;
}

/*Triangles*/
.right::before,
.left::before {
  content: '';
  position: absolute;
  top: 16px;
  height: 0;
  width: 0px;
  border: 7px solid transparent;
}

.left::before {
  border-left: 7px solid #000;
  right: 628px;
}

.right::before {
  border-right: 7px solid #000;
  left: 628px;
}

.section {
  width: 40%;
  border-radius: 0.3em;
  padding: 0 30px;
  background-color: #000;
  color: #fff;
}

.left {
  float: left;
}

.right {
  float: right;
}

p {
  line-height: 1.5;
}
/*Circles*/
.circle {
  position: absolute;
  top: 0;
  left: 559px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 2.6em;
}
.section-container img{
  width:100%;
}

/*Animation*/





  footer {
    text-align: center;
    padding: 3px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    color: black;
    font-weight: 600;
    margin-top: 40px;
  }
  #menu-control{
    display: none;
}