@media screen and (min-width:768px)and (max-width:1024px){
    /* 導覽列 */
    .hb{
        width: 40px;
        height: 40px;
        background-color: #000000;
        position: relative;
        left:280px;
    }
    .hb span{
        width: 32px;
        height: 2px;
        background-color: orange;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        transition: top     .5s .2s, 
                    bottom  .5s .2s, 
                    opacity .5s, 
                    transform .2s;
    }
    .hb span:first-child{
        transform: rotate(0deg);
        top: 10px;
    }
    .hb span:last-child{
        transform: rotate(0deg);
        bottom: 10px;
    }
    .hb span:nth-child(2){
        top: 0;
        bottom: 0;
    }



    #menu-control:checked ~ .main-header .hb span:first-child{
        top: 19px;
        transform: rotate(225deg);
        transition: top     .5s, 
                    bottom  .5s, 
                    opacity .5s, 
                    transform .2s .5s;
    }
    #menu-control:checked ~ .main-header .hb span:last-child{
        bottom: 19px;
        transform: rotate(-225deg);
        transition: top     .5s, 
                    bottom  .5s, 
                    opacity .5s, 
                    transform .2s .5s;
    }

    .hb span:nth-child(2){
        opacity: 1;
    }
    #menu-control:checked ~ .main-header .hb span:nth-child(2){
        opacity: 0;
    }




    .main-nav{
        position: absolute;
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
        top: 100%;
        left: -79%;
        width: 30%;
        height: calc(100vh - 50px);
        transition: left 1s;
    }
    .main-nav a{
        display: block;
        padding: 5px 10px;
        
    }
    .main-header .main-nav a{
        color:black;
    }
    .main-nav img{
        display: block;
        width:40px;
        padding: 5px 10px;
        margin-left:10px;
    }
    #menu-control:checked ~ .main-header .main-nav{
        left: 0;
    }
    .main-header{
        display: flex;
        background-color: #888;
        align-items: center;
        justify-content: space-between;
        padding: 4px 10px;
        position: relative;
    }
    .logo img{
        vertical-align: middle;
    }
    #menu-control{
        display: none;
    }
    .main-header .logo img{
        width:80px;
        vertical-align: middle;
        position:relative;
        right:280px;
      }
      /*歷史與榮耀  */
    .item1{
        display:grid;
    }
    .item1 .pic1 img{
        width:100%;
    }
    .item1 .pic img{
        width:100%;
    }
    /* 頁尾區 */
    footer{
        width:100%;
    }
    .item1 >:first-child{
        margin-right:0%;
    }
    * {opacity: unset;
        animation-duration: unset;
        animation-iteration-count: unset;
        animation-timing-function: unset;
        animation-fill-mode: unset;
        animation-name: unset;
    }
}
@media screen and (max-width:767px){
    .hb{
        width: 40px;
        height: 40px;
        background-color: #000;
        position: relative;
        right:-80px;
    }
    .container .hb span{
        width: 32px;
        height: 2px;
        background-color: orange;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        transition: top     .5s .2s, 
                    bottom  .5s .2s, 
                    opacity .5s, 
                    transform .2s;
    }
    .container .hb span:first-child{
        transform: rotate(0deg);
        top: 10px;
    }
    .container .hb span:last-child{
        transform: rotate(0deg);
        bottom: 10px;
    }
    .container .hb span:nth-child(2){
        top: 0;
        bottom: 0;
    }



    #menu-control:checked ~ .main-header .hb span:first-child{
        top: 19px;
        transform: rotate(225deg);
        transition: top     .5s, 
                    bottom  .5s, 
                    opacity .5s, 
                    transform .2s .5s;
    }
    #menu-control:checked ~ .main-header .hb span:last-child{
        bottom: 19px;
        transform: rotate(-225deg);
        transition: top     .5s, 
                    bottom  .5s, 
                    opacity .5s, 
                    transform .2s .5s;
    }

    .container .hb span:nth-child(2){
        opacity: 1;
    }
    #menu-control:checked ~ .main-header .hb span:nth-child(2){
        opacity: 0;
    }




    .main-nav{
        position: absolute;
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
        top: 100%;
        left: -79%;
        width: 50%;
        height: calc(100vh - 50px);
        transition: left 1s;
    }
    .main-nav a{
        display: block;
        padding: 5px 10px;
    }
    .main-header .main-nav a{
        color:black;
    }
    #menu-control:checked ~ .main-header .main-nav{
        left: 0;
    }
    .main-header{
        display: flex;
        background-color: #888;
        align-items: center;
        justify-content: space-between;
        padding: 4px 10px;
        position: relative;
    }
    .main-nav img{
        display: block;
        width:40px;
        padding: 5px 10px;
        margin-left:10px;
    }
    #menu-control{
        display: none;
    }
    .main-header .logo img{
        width:80px;
        vertical-align: middle;
        position:relative;
        right: 85px;
      }
     
    .timeline::after { 
        left: 31px;
        }
        
    
    .container5 { 
         width: 100%; 
         padding-left: 70px; 
         padding-right: 25px; 
         } 
        
       
    .container5::before {
         left: 60px; 
         border: medium solid white; 
         border-width: 10px 10px 10px 0; 
         border-color: transparent white transparent transparent; 
        }
      
       
    .left::after, .right::after { 
         left: 15px; 
         } 
        
       
    .right {
        left: 0%;}
        
    .item1 {
            display:grid;   
            box-sizing: border-box;
        } 
    .wrapper{
            display:grid;
        } 
    .item1 .txt{
            width:100%;
        }
    .item1 >:first-child{
            margin-right: 0%;
        }
    .item1 .ball img{
            width:100%;
        }
    .item1 .pic1 img{
            width:100%;
        }
    footer{
            width:100%;
        }
    * {opacity: unset;
        animation-duration: unset;
        animation-iteration-count: unset;
        animation-timing-function: unset;
        animation-fill-mode: unset;
        animation-name: unset;
    }
}


@media (max-width: 1400px) {

 
    .container5::before {
        left: 22px;
    }
  
    
    .circle {
        left: 0px;
    }
  
    .section-container {
        margin-bottom: 30px;
        padding: 0;
    }
  
    .section-container:first-child {
        padding-bottom: 0px;
    }
  
    .section {
        padding-bottom: 40px;
        padding-top: 40px;
    }
  
    .left,
    .right {
        float: none;
        width: 80%;
        margin: 0 100px;
    }
  
    
  
    .left::before,
    .right::before {
        border-right: 7px solid #000;
        border-left: transparent;
        right: 0px;
        left: 93px;
    }
  }
  
  
  
 
  
  
  
  @media (max-width: 900px) {
  
    .left,
    .right {
        width: 70%;
    }
  
  }
  
 
  
  
  @media (max-width: 700px) {
  
    .left,
    .right {
        width: 60%;
    }
  }
  
 
  
  
  
  
  
  @media (max-width: 500px) {
  
    .left,
    .right {
        width: 50%;
    }
  
    h2 {
        font-size: 1.2em;
    }
  
    p {
        font-size: 0.9em;
    }
    .section {
        padding-bottom: 30px;
    }
  
  }
  

  
  @media (max-width: 400px) {
  
    .left,
    .right {
        width: 65%;
    }
  
    h2 {
        font-size: 0.8em;
    }
  
    p {
        font-size: 0.7em;
        padding-top: 5px;
    }
  }



