@media screen and (max-width:1024px) {
    .hb {
        display: block;
    }
}



/*平板 */
@media screen and (min-width:768px)and (max-width:1024px){ 
    .hb{
        width: 40px;
        height: 40px;
        background-color: #000000;
        position: relative;
    }
    .hb span{
        width: 32px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        transition: top     .5s .2s, 
                    bottom  .5s .2s, 
                    opacity .5s, 
                    transform .2s;
    }
    .hb span:first-child{
        transform: rotate(0deg);
        top: 10px;
    }
    .hb span:last-child{
        transform: rotate(0deg);
        bottom: 10px;
    }
    .hb span:nth-child(2){
        top: 0;
        bottom: 0;
    }



    #menu-control:checked ~ .main-header .hb span:first-child{
        top: 19px;
        transform: rotate(225deg);
        transition: top     .5s, 
                    bottom  .5s, 
                    opacity .5s, 
                    transform .2s .5s;
    }
    #menu-control:checked ~ .main-header .hb span:last-child{
        bottom: 19px;
        transform: rotate(-225deg);
        transition: top     .5s, 
                    bottom  .5s, 
                    opacity .5s, 
                    transform .2s .5s;
    }

    .hb span:nth-child(2){
        opacity: 1;
    }
    #menu-control:checked ~ .main-header .hb span:nth-child(2){
        opacity: 0;
    }




    .main-nav{
        position: absolute;
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
        top: 100%;
        left: -79%;
        width: 30%;
        height: calc(100vh - 50px);
        transition: left 1s;
    }
    .main-nav a{
        display: block;
        padding: 5px 10px;
        
    }
    .main-header .main-nav a{
        color:black;
    }
    .main-nav img{
        display: block;
        width:40px;
        padding: 5px 10px;
        margin-left:10px;
    }
    #menu-control:checked ~ .main-header .main-nav{
        left: 0;
    }
    .main-header{
        display: flex;
        background-color: #888;
        align-items: center;
        justify-content: space-between;
        padding: 4px 10px;
        position: relative;
    }
    #menu-control{
        display: none;
    }
    .homepage img{
        width:50px;
        vertical-align: middle;
        position:relative;
      }
    footer{
        width:100%;
    }
    .shop{
        padding:15px;
        gap:20px;
    }
}
      /* 手機版 */
@media screen and (max-width:768px){
    .hb{
        width: 40px;
        height: 40px;
        background-color: #000;
        position: relative;
    }
    .hb span{
        width: 32px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        transition: top     .5s .2s, 
                    bottom  .5s .2s, 
                    opacity .5s, 
                    transform .2s;
    }
    .hb span:first-child{
        transform: rotate(0deg);
        top: 10px;
    }
    .hb span:last-child{
        transform: rotate(0deg);
        bottom: 10px;
    }
    .hb span:nth-child(2){
        top: 0;
        bottom: 0;
    }



    #menu-control:checked ~ .main-header .hb span:first-child{
        top: 19px;
        transform: rotate(225deg);
        transition: top     .5s, 
                    bottom  .5s, 
                    opacity .5s, 
                    transform .2s .5s;
    }
    #menu-control:checked ~ .main-header .hb span:last-child{
        bottom: 19px;
        transform: rotate(-225deg);
        transition: top     .5s, 
                    bottom  .5s, 
                    opacity .5s, 
                    transform .2s .5s;
    }

    .hb span:nth-child(2){
        opacity: 1;
    }
    #menu-control:checked ~ .main-header .hb span:nth-child(2){
        opacity: 0;
    }




    .main-nav{
        position: absolute;
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
        top: 100%;
        left: -79%;
        width: 50%;
        height: calc(100vh - 50px);
        transition: left 1s;
    }
    .main-nav a{
        display: block;
        padding: 5px 10px;
    }
    .main-header .main-nav a{
        color:black;
    }
    #menu-control:checked ~ .main-header .main-nav{
        left: 0;
    }
    .main-header{
        display: flex;
        background-color: #888;
        align-items: center;
        justify-content: space-between;
        padding: 4px 10px;
        position: relative;
    }
    .main-nav img{
        display: block;
        width:40px;
        padding: 5px 10px;
        margin-left:10px;
    }
    #menu-control{
        display: none;
    }
    .homepage img{
        width:40px;
        vertical-align: middle;
        position:relative;
      }
    .shop {
        width:100%;
        display:grid;
        padding:15px;
    }
    .txt1{
        width:100%;
    }
    footer{
        width:100%;
    }
}
