*{
  margin: 0;
  padding:0;
  list-style: 0;
  font-family: 'Teko', sans-serif;
}

body{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.main-header{
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  display:flex;
  justify-content:center;
  align-items:center;
}
.main-header .container9{
  display: flex;
  padding: 0px;
  width: 1000px;
  margin-left: 80px;
  align-items: center;
}
.main-header .logo{
  width:150px;
  max-width: 150px;
  margin-left: 120px;
}
.main-header .logo img{
  width:150px;
  vertical-align: middle;
}
.main-header .main-nav a{
  text-decoration: none;
  color:white;
}
nav a{
    font-size:16px;
    font-weight: 800;
    margin:10px;
  }
nav a:hover{
    border-bottom: 3px solid black;
  }

.shopbanner{
    width: 100%;
}
.shopbanner .pic{
    width: 1000px;
    margin:auto; 
}
.shopbanner .pic img{
    width: 1000px;
    margin-top: 20px;
    border-radius:15px 15px 15px 15px;
}
.container {
    align-content: center;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    margin-top:45px;
    gap:50px;
  }

.pic img{
    width:400px;
}
.hu img{
    width:400px;
}
.hero img{
    width:400px;
}
.container1 {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    margin-top:105px;
    gap:50px;
  }
  .bn54 {
    position: relative;   
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 100px;
    opacity: 1;
    background-color: orange;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin:5px 0px 10px 0px;
    
  }
  
  .bn54 .bn54span {
    font-family: 'Teko', sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
span{
  font-weight: 800;
  font-size: 25px;
}
.pic p{
  font-size:25px;
  font-weight: bold;
}
.hu p{
  font-size:25px;
  font-weight: bold;
}
.hero p{
  font-size:25px;
  font-weight: bold;
}
span:hover{
  color:darkorange;
}
h3{
  margin:auto;
  text-align: center;
  font-weight: 900;
  font-size: 28px;
  margin-top: 90px;
  text-decoration: underline;
  width: 140px;
}
.txt1{
  width:700px;
  margin:auto;
  text-align: center;
}
footer{
  text-align: center;
  padding: 3px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: black;
  font-weight: 600;
  margin-top: 20px;
}
.footertxt p{
  font-size: 17px;
 
}