* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    
}
.main-header{
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  
}
.main-header .container{
  display: flex;
  padding: 0px;
  max-width: 1000px;
  margin:auto;
  align-items: center;
  gap:10px;
  z-index: 20;
}
.main-header .logo{
  width:150px;
  max-width: 150px;
}
.main-header .logo img{
  width:150px;
  vertical-align: middle;
}
.main-header .main-nav a{
  text-decoration: none;
  color:white;
  padding:5px;
}
nav a{
  font-size:16px;
  font-weight: 800;
  margin:10px;
}
nav a:hover{
  border-bottom: 3px solid black;
}
.newbanner{
  max-width: 1200px;
  display:flex;
}
.newbanner .pic{
  max-width: 600px;
  margin:auto; 
}
.newbanner .pic img{
  max-width: 950px;
  margin-top: 20px;
  border-radius:15px 15px 15px 15px;
}
div.grid_container{
  background-color: #eaecf2;
  /* border: 1px solid red; */
  width: 1000px;
  height:350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 600px auto;
  gap: 0px;
  margin-top: 25px;
  border-radius: 15px 15px 15px 15px;
}
div.grid_item1{
  /* border: 1px solid blue; */
  width: 350px;
  height: 120px;
  border-radius: 15px 15px 15px 15px;
}
.news_photo {
  width: 520px;
  height: 350px;
  border-radius: 15px 0px 0px 15px;
}
.grid_item2{
  height: 150px;
  margin: auto;
  margin-left: -20px;
  letter-spacing: 2px;
  
}

div.grid_item2 h4{
  font-size: 16px;
  display: inline-block;
  border:1.5px solid #FF9B2F;
  background-color: rgb(255, 255, 255);
  color: #FF9B2f;
  border-radius: 3px;
  padding: 1px 8px;
  border-radius: 5px;
  line-height: 24px;
  }
.container1{
    justify-content: center;
    flex-direction: row;
    display: flex;
    margin: auto;
    width: 80%;
}
.news2 .pic1 img{
    width: 100%;
}
.container1 .news2{
    width: 50%;
    background-color: rgb(236, 233, 233);
    margin:15px;
    border-radius: 0px 0px 15px 15px;
    border:1px solid black;
}
footer {
    text-align: center;
    padding: 3px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    color: black;
    font-weight: 600;
    margin-top: 40px;
  }
  #menu-control{
    display: none;
}