* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    
}
.main-header{
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  
}
.main-header .container{
  display: flex;
  padding: 0px;
  max-width: 1000px;
  margin:auto;
  align-items: center;
  gap:10px;
  z-index: 20;
}
.main-header .logo{
  width:150px;
  max-width: 150px;
}
.main-header .logo img{
  width:150px;
  vertical-align: middle;
}
.main-header .main-nav a{
  text-decoration: none;
  color:white;
  padding:5px;
}
nav a{
  font-size:16px;
  font-weight: 800;
  margin:10px;
}
nav a:hover{
  border-bottom: 3px solid black;
}
.newbanner{
  max-width: 1200px;
  margin: auto;
}
.newbanner .pic img{
  width:100%;
  margin-top: 20px;
  border-radius:15px 15px 15px 15px;
}

.txt p{
  padding:5px;
}
.txt p:last-child{
  color:red;
  font-weight: 700;
}
.mainnews {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainnews :hover{
  color:tomato;
}
.mainnews .pic img{
  max-width:600px;
}
.mainnews .pic3 img{
  max-width:600px;
}
.item{
  padding:15px;
  background-color: white;
}
.container1{
    justify-content: center;
    flex-direction: row;
    display: flex;
    margin: auto;
    width: 100%;
}
.container2{
  justify-content: center;
  flex-direction: row;
  display: flex;
  margin: auto;
  width: 100%;
}
.news2 .pic1 img{
    width: 100%;
}
.container1 .news2{
    width: 100%;
    background-color: rgb(236, 233, 233);
    margin:15px;
    border-radius: 0px 0px 15px 15px;
    border:1px solid black;
}
.container2 .news2{
  width: 100%;
  background-color: rgb(236, 233, 233);
  margin:15px;
  border-radius: 0px 0px 15px 15px;
  border:1px solid black;
}
footer {
    text-align: center;
    padding: 3px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    color: black;
    font-weight: 600;
    margin-top: 40px;
  }
  #menu-control{
    display: none;
}