* {
    margin: 0;
    padding: 0;
    font-family: "Teko", sans-serif;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    place-items: center;
}
.header001{
    display: flex;
    justify-content: end;
    margin-right: -18px;
    position: relative;
    bottom: 23px;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}


/* 導覽列 */
.main-header {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}
.main-header .homepage {
    display: flex;
    padding: 0px;
    max-width: 1000px;
    align-items: center;
    gap: 10px;
    z-index: 20;
    margin: auto;
}
.main-header .logo img {
    width: 150px;
    vertical-align: middle;
}
.main-header .main-nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
}
nav a {
    font-size: 16px;
    font-weight: 800;
    margin: 10px;
}
nav a:hover {
    border-bottom: 3px solid black;
}
#menu-control {
    display: none;
}

.product-container{
	max-width: 650px;
	justify-content: space-around;
	margin: auto;
	margin-top:50px ;
}
.product_header{
	width: 100%;
	max-width: 650px;
	display: flex;
	justify-content: flex-start;
	border-bottom: 4px solid lightblue;
	margin: auto;
}
.product-container ion-icon{
	font-size: 25px;
}
.product-title{
	width:55%;
}
.price{
	width: 15%;
	display: flex;
	align-items: center;
}
