* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}


body{
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.main-header{
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    display:flex;
    align-items:center;
    justify-content: center;
  }
  .main-header .container5{
    display: flex;
    max-width: 1500px;
    margin-left: 110px;
    align-items: center;
  }
  .main-header .logo{
    width:150px;
    max-width: 150px;
    margin-left: 20px;
  }
  .main-header .logo img{
    width:150px;
    vertical-align: middle;
  }
  .main-header .main-nav a{
    text-decoration: none;
    color:white;
    padding: 5px;
  }
  nav a{
      font-size:16px;
      font-weight: 800;
      margin:10px;
    }
  nav a:hover{
      border-bottom: 3px solid black;
    }
  
.pricepicture .pic {
    margin:auto;
    width: 800px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.pricepicture .pic img{
    width: 1500px;
    height:800px;    
}
table{
    width: 50%;
    border: 3px solid #ddd;
    margin-top:20px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
th, td, tr {
    text-align: left;
    padding: 16px;
    border: 2px solid black;
  }
 .faq{
    text-align: center;
    margin-top: 70px;
    
}

.faq h1:before{
    content: '';
    position: absolute;
    top: 100;
    height: 3px;
    width: 120px;
    margin-left: -20px;
    margin-top: 50px;
    margin-bottom: 10px;
}


.faq-main{
    padding: 50px 50px;
    margin-left: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
}

::-webkit-details-marker{
    float: right;
    margin-top: 3px;
}

details{
    padding: 5px 20px;
    border-radius: 7px;
    margin-top: 15px;
    cursor: pointer;
    letter-spacing: 1px;
}

summary{
    font-size: 20px;
    font-weight: 500;
    border: 3px solid black;
}

details p{
    padding: 20px 20px;
    font-size: 17px;
    font-weight: 700;
    color:red;
    border-radius:1px;
    background-color: white;
} 
footer {
    text-align: center;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    color: black;
    font-weight: 600;
    margin-top: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .footertxt p{
    font-size:15px;
    padding: 1px;
  }