* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Teko', sans-serif;
}
.main-header{
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  display:flex;
  align-items:center;
}
.main-header.container3{
  display: flex;
  width: 1230px;
  margin-left: 110px;
  align-items: center;
}
.main-header .logo{
  width:150px;
  max-width: 150px;
  margin-left: 120px;
}
.main-header .logo img{
  width:150px;
  vertical-align: middle;
}
.main-header .main-nav a{
  text-decoration: none;
  color:white;
}
nav a{
    font-size:16px;
    font-weight: 800;
    margin:10px;
  }
nav a:hover{
    border-bottom: 3px solid black;
  }


body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    display:grid;
    place-items:center;
  }
.chen img {
    width: 190%;
    height: 100%;
    object-fit:cover;
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }
  .container {
    max-width:700px;
    max-height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:160px;
    flex-direction: row;
    margin-top:105px;
  }
  .container:hover img {
    opacity:0.3;
  }
  .container img:hover {
    transform:perspective(800px)  rotateY(0deg);
    opacity:1;
  }
  p{
    width:80px;
    
    font-weight: 700;
    font-size: 22px;
    color:black;
    margin:15px;
  }
  p:hover{
    transform:perspective(800px)  rotateY(0deg);
    opacity:1;
  }
  .hu img {
    width: 190%;
    height: 100%;
    object-fit:cover;
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }
  .kuo img {
    width: 190%;
    height: 100%;
    object-fit:cover;
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }

  .container1 {
    max-width:700px;
    max-height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:160px;
    flex-direction: row;
    }
    .container1:hover p {
        opacity:0.3;
      }
    .container1 p:hover {
        transform:perspective(800px)  rotateY(0deg);
        opacity:1;
      }
      .container1:hover img {
        opacity:0.3;
      }
      .container1 img:hover {
        transform:perspective(800px)  rotateY(0deg);
        opacity:1;
      }
      .container:hover p {
        opacity:0.3;
      }
    .container p:hover {
        transform:perspective(800px)  rotateY(0deg);
        opacity:1;
      }
   
    .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    position: relative;
    right:-50px;
  }
  

  .pagination a.active {
    background-color: goldenrod;
    color: white;
  }
  
  .pagination{
      margin:auto;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;}