* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Teko', sans-serif;
}

.header .pic img {
    width: 120px;
    margin-right: 15px;
    vertical-align: middle;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header  nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: 800;
    font-size: 16px;
}

nav a img {
    display: none;
    width: 20px;
}

nav a:hover img {
    display: inline-block;
}
nav a:hover{
  text-decoration: underline;
}
nav img {
    width: 30px;
}
body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    display:grid;
    place-items:center;
  }
.chen img {
    width: 190%;
    height: 100%;
    object-fit:cover;}
    /*-webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }*/
  .container {
    max-width:700px;
    max-height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:160px;
    flex-direction: row;
    margin-top:105px;
  }
  /*.container:hover img {
    opacity:0.3;
  }
  .container img:hover {
    transform:perspective(800px)  rotateY(0deg);
    opacity:1;
  }*/
  p{
    width:80px;
    
    font-weight: 700;
    font-size: 22px;
    color:black;
    margin:15px;
  }
  /*p:hover{
    transform:perspective(800px)  rotateY(0deg);
    opacity:1;
  }*/
  .hu img {
    width: 190%;
    height: 100%;
    object-fit:cover;}
    /*-webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }*/
  .kuo img {
    width: 190%;
    height: 100%;
    object-fit:cover;}
    /*-webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }*/

  .container1 {
    max-width:700px;
    max-height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:160px;
    flex-direction: row;
    }
    /*.container1:hover p {
        opacity:0.3;
      }
    .container1 p:hover {
        transform:perspective(800px)  rotateY(0deg);
        opacity:1;
      }
      .container1:hover img {
        opacity:0.3;
      }
      .container1 img:hover {
        transform:perspective(800px)  rotateY(0deg);
        opacity:1;
      }
      .container:hover p {
        opacity:0.3;
      }
    .container p:hover {
        transform:perspective(800px)  rotateY(0deg);
        opacity:1;
      }*/
   
    .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    /*transition: background-color .3s;*/
    position: relative;
    right:-50px;
  }
  

  .pagination a.active {
    background-color: goldenrod;
    color: white;
  }
  
  .pagination{
      margin:auto;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;}