* {
    margin: 0;
    padding: 0;
    
}
body{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.header .pic img {
    width: 120px;
    margin-right: 15px;
    vertical-align: middle;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: 800;
}

nav a img {
    display: none;
    width: 20px;
}

nav a:hover img {
    display: inline-block;
}
nav a:hover{
    text-decoration: underline;
}
nav img {
    width: 30px;
}
.newbanner{
    width: 100%;
}
.newbanner .pic{
    width: 51%;
    margin:auto; 
   
}
.newbanner .pic img{
    width: 100%;
    margin-top: 90px;
    border-radius:15px 15px 15px 15px;
}
.container .news1{
    width: 72%;
    margin: auto;
    display:flex;
    margin-top: 20px;
    background-color: rgb(236, 233, 233);
    border-radius:15px 15px 15px 15px;
}

.container .news1 .pic1 img{
    width:500px;
    vertical-align: middle;
    border-radius:15px 0px 0px 15px;
}

.container .txt{
    margin-left: 15px;
    margin-top: 100px;
    padding:1px;
}
.container1{
    justify-content: center;
    flex-direction: row;
    display: flex;
    margin: auto;
    width: 80%;
}
.news2 .pic1 img{
    width: 100%;
}
.container1 .news2{
    width: 50%;
    background-color: rgb(236, 233, 233);
    margin:15px;
    border-radius: 0px 0px 15px 15px;
    border:1px solid black;
}
span{
    margin:7px;
}