* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.header .pic img {
    width: 120px;
    margin-right: 15px;
    vertical-align: middle;
}
body{
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: 800;
}

nav a img {
    display: none;
    width: 20px;
}

nav a:hover img {
    display: inline-block;
}
nav a:hover{
    text-decoration: underline;
}
nav img {
    width: 30px;
}
.pricepicture .pic {
    margin:auto;
    width: 50%;
}
.pricepicture .pic img{
    width: 95%;
    position: relative;
    
}
table{
    width: 50%;
    border: 3px solid #ddd;
    margin-top:20px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
th, td, tr {
    text-align: left;
    padding: 16px;
    border: 2px solid black;
  }
 .faq{
    text-align: center;
    margin-top: 70px;
}

.faq h1:before{
    content: '';
    position: absolute;
    top: 100;
    height: 3px;
    width: 120px;
    margin-left: -20px;
    margin-top: 50px;
    margin-bottom: 10px;
}


.faq-main{
    padding: 50px 50px;
    margin-left: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
}

::-webkit-details-marker{
    float: right;
    margin-top: 3px;
}

details{
    padding: 5px 20px;
    border-radius: 7px;
    margin-top: 15px;
    cursor: pointer;
    letter-spacing: 1px;
}

summary{
    font-size: 20px;
    font-weight: 500;
}

details p{
    padding: 20px 20px;
    font-size: 17px;
    font-weight: 700;
    color:red;
} 
